<h1>Restaurants</h1>

  <ul>
    <% @restaurants.each do |r| %>

      <li><%= r.name %>
      <%= r.address %>
      <%= r.phone_number %>
      <%= r.category %></li>

    <% end %>
    </ul>
    <%= link_to 'new', new_restaurant_path %>


